*{
    margin:0;
    padding: 0;
}

.input {
  border: none;
  border-bottom: 1px solid #212121;
  outline: none;
}

.input:focus {
  border-bottom: 2px solid #B22222;
}

.btn{
  background: #B22222;
  font-family: inherit;
  padding: 1rem 4rem;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #000;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.link-clean {
  text-decoration: none;
  color: inherit;
}
