*{
    margin:0;
    padding: 0;
}
body{
    background-color: #212121;
    color: #fffef6;
    min-height: 100vh;
}
 
.input {
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
  background-color:#212121 ;
}

.input:focus {
  border-bottom: 2px solid #B22222;
}
